.privacy-container {
    .privacy-heading {
        margin-bottom: 60px;
    }
    .section-heading--low {
        margin-bottom: 0;
        font-size: 3rem;
    }
    .section-text {
        margin-bottom: 70px;
    }
}