:root {
    --main-font: "Roboto", "First Neue", "sans-serif";
    --heading-font:"First Neue", "Roboto", "sans-serif";
    --section-gap: 40px;
    --font-color-black: #202020;
    --font-color-light: #5f5f5f;
    --color-basic-white: #FFF;
    --color-basic-black: #000;
    --color-light-gray: #eaeaea;
    --color-basic-orange: orange;
    --color-dark-orange: darkorange;
    --color-basic-yellow: #fcd53a;
    --color-darker-orange: rgb(208, 114, 0);
    --color-basic-blue: #00a2ff;
    --desktop-heading-pd: 130px;   
    --mobile-heading-pd: 80px;   
}